@font-face {
    font-family: rick ;
    src: url("../font/get_schwifty.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}

.bg{
    background-color: #292626;

    background-image: url("../image/FUNDO_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
}


header {
    background-color: rgb(30, 31, 33);
    color: #fff;
    
}


#api-title {
    color: #146E37;
    font-family: rick;
    animation: glow 2s infinite;
    font-size: 10vw;
}


nav {
    border-radius: 8px;
    border: 2px solid black; 
}


#search-input {
    border: none;
    border-radius: 8px;
    background-color: rgb(30, 31, 33);
    width: 80%;
    color: #fff;
}
#search{
    border-radius: 8px;

    max-width: 2rem;
    max-height: 2rem;
    padding: 5px;
    background-color: rgb(30, 31, 33);
    cursor: pointer;
    animation: pulseGreenButton 2s infinite;
    
}


button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #343a40;
    color: #fff;
    border: none;
    cursor: pointer;
}


button:hover, #logo:hover, #search:hover {
    background-color: gray;
    border-radius: 10px;
}


#character-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.character-card {
    display: flex;
    border-radius: 5px;
    width: calc(20%);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* animation: pulseGreenBorder 2s infinite; */
    animation: flyAnimation 3s infinite ease-in-out, pulseGreenBorder 2s infinite;
}

.character-card:hover {
    transform: scale(1.1);
    background-color: #9badbe;
    animation: none;
    animation: pulseGreenBorder 2s infinite;
}

.character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    animation: flyAnimation 3s infinite ease-in-out, pulseGreenBorder 2s infinite;
}


.character-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    
}


.character-description h2,
.character-description p, 
.character-description span {
    margin: 5px;
    
}


.status {
    display: flex;
    align-items: center;
}


.status-indicator {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.modal-header{
    background-color: rgb(30, 31, 33);
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}.modal-body{
    background-color: #2d3134;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}.btn-close{
    filter: invert(1);
}


#pagination {
    margin-top: 20px;
    text-align: center;
}


#api-info {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;  
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
}a:link{
    text-decoration: none;
}.bE{
    animation: pulseGreenButton 2s infinite;
}
.bE:hover{
    background-color: #9badbe;
    transform: scale(1.5);
    
}


#logo{
    max-width: 5vw;
    filter: invert(1);
    top: 2;
    left: 2;
    cursor: pointer; 
    animation: rotateAndPulse 3s infinite;
    margin: 10px;

}

.espaço{
    height: 40vh;
    
}


/* key */

@keyframes rotateAndPulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
    
        transform: scale(1.2) rotate(90deg) ;
    }
    50% {
    
        transform: scale(1.4) rotate(180deg) ;
    }
    75% {
    
        transform: scale(1.2) rotate(270deg) ;
    }
    100% {
        transform: scale(1) rotate(360deg) ;
    }
}

@keyframes glow {
    0% {
        color: #146E37; /* Cor inicial do título */
        text-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra inicial */
    }
    50% {
        color: #1EFF00; /* Cor brilhante durante a animação */
        text-shadow: 0 0 20px rgba(30, 255, 0, 0.8); /* Sombra brilhante durante a animação */
    }
    100% {
        color: #146E37; /* Cor final do título */
        text-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra final */
    }
}

@keyframes pulseGreenBorder {
    0% {
        border-color: #146E37; /* Cor inicial da borda */
        box-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra inicial */
    }
    50% {
        border-color: #1EFF00; /* Cor brilhante durante a animação */
        box-shadow: 0 0 20px rgba(30, 255, 0, 0.8); /* Sombra brilhante durante a animação */
    }
    100% {
        border-color: #146E37; /* Cor final da borda */
        box-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra final */
    }
}

@keyframes pulseModal {
    0% {
        box-shadow: 0 0 20px rgba(20, 110, 55, 0.8); /* Sombra inicial */
    }
    50% {
        box-shadow: 0 0 50px rgba(30, 255, 0, 0.8); /* Sombra brilhante durante a animação */
    }
    100% {
        box-shadow: 0 0 20px rgba(20, 110, 55, 0.8); /* Sombra final */
    }
}

.modal-content{
    /* Adicione a animação ao modal aberto */
    animation: flyAnimation 3s infinite ease-in-out, pulseGreenBorder 2s infinite;
}

@keyframes pulseGreenButton {
    0% {
        background-color: #146E37; /* Cor inicial do botão */
        box-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra inicial */
    }
    50% {
        background-color: #1EFF00; /* Cor brilhante durante a animação */
        box-shadow: 0 0 20px rgba(30, 255, 0, 0.8); /* Sombra brilhante durante a animação */
    }
    100% {
        background-color: #146E37; /* Cor final do botão */
        box-shadow: 0 0 10px rgba(20, 110, 55, 0.8); /* Sombra final */
    }
}

#pagination button {
    /* Adicione a animação aos botões de paginação */
    animation: pulseGreenButton 2s infinite;
}

@keyframes flyAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


