@font-face {
    font-family: RICK ;
    src: url("font/get_schwifty.ttf") format('truetype');
}
body{
    background-color: #4d5257;
}.bg{
    background-image: url("../image/FUNDO_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    background-color: rgb(30, 31, 33);
    color: #fff;
}


#api-title {
    color: #146E37;
    font-family: 'RICK', cursive;
}


nav {
    border-radius: 8px;
    border: 2px solid black; 
}


#search-input {
    border: none;
    border-radius: 8px;
    background-color: rgb(30, 31, 33);
    width: 80%;
    color: #fff;
}
#search{
    max-width: 2rem;
    max-height: 2rem;
    padding: 5px;
    background-color: rgb(30, 31, 33);
    cursor: pointer;
}


button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #343a40;
    color: #fff;
    border: none;
    cursor: pointer;
}


button:hover, #logo:hover, #search:hover {
    background-color: gray;
    border-radius: 10px;
}


main {
    
}

#character-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.character-card {
    display: flex;
    border-radius: 5px;
    width: calc(20%);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    font-family: 'RICK', cursive;

}

.character-card:hover {
    transform: scale(1.1);
    background-color: #9badbe;
}

.character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}


.character-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    
}


.character-description h2,
.character-description p, 
.character-description span {
    margin: 5px;
    
}


.status {
    display: flex;
    align-items: center;
}


.status-indicator {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.modal-header{
    background-color: rgb(30, 31, 33);
    color: #fff;
    
}.modal-body{
    background-color: #2d3134;
    color: #fff;
}.btn-close{
    filter: invert(1);
}


#pagination {
    margin-top: 20px;
    text-align: center;
    filter: invert(1);

}


#api-info {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-family: 'RICK', cursive;
}
a{
    color: white;  
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
}a:link{
    text-decoration: none;
}


#logo{
    max-width: 6vh;
    filter: invert(1);
    top: 1;
    left: 1;
    cursor: pointer; 
}



